@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
    body {
        background-image: url(./img/br2.gif);
        background-repeat: no-repeat;
        width: 100px;
        background-size: cover;
        font-family: 'Yomogi', cursive;
    }
    
    .icon img {
        width: 00%;
    }

    #icon2 {
        position: fixed;
        top: 5;
        right: 0;
        width: 200px;
        /* background-color: black; */
        
    }
    
    #icon1 {
        position: fixed;
        top: 20;
        left: 0;
        width: 300px;
        border-radius: 30px;
        
    }
    #text{
        background-color: rgba(201, 70, 70, 0.199);
        border-radius: 50px;
        position: absolute;
        color: black;
        font-size: 70px;
        font-family: 'Yomogi', cursive;
        margin-left: 30%;
        margin-top: 10%;
    }
    .none {
        display: none;
    }
    .star {
        position: relative;
        left: 400%;
    }
    #icon3 {
        padding:30px ;
        margin-top: 200px;
    }
    .btnClick1{
        background-color: rgba(238, 55, 110, 0.829);
        font-family: 'Courier New', Courier, monospace;
        width: 300px;

    }
    .btnClick1:hover{
        background-color: rgba(241, 103, 145, 0.829);
    }
    #no {
        position: fixed;
    }
    #phanTram {
        width: 400px;
        font-family: 'Yomogi', cursive;
        position: fixed;
        top: 20%;
        left: 30%;
    }